In [0]:
#load a jupyter file in your laptop
#jupyter notebook module.ipynb (any file with formar.ipynb)

## **在本地目录中找到文件的方法**

cd //Users/lilv/ 进入该路径

ls 找到当前目录下的文件和文件夹

在jupyter notebook 中读取文件的方法
df = pd.read_csv('/Users/lilv/Documents/Application/Python/biomedical_data_science-master/workshop_materials/test_data.csv')

In [0]:
import pandas as pd
#pandas file format is .csv

# **This is my first notebook**

In [0]:
import matplotlib.pyplot as plt

In [5]:
print('Hello, world')

Hello, world

Any file saved in your “My Drive” can
be accessed by using the following
path: /content/drive/My Drive/<file>

### remember there is a My drive after drive. Cap needed

In [6]:
#import data from google drive to colab
#remember to tap these codes in to two lines. 
#remember to click the link and get the code at first. Not input your own password
from google.colab import drive 
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [39]:
df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv') #remember to add .csv after file name
df

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3
3     case      no    c084     0.34     0.90     sample4

In [8]:
df.head()

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3
3     case      no    c084     0.34     0.90     sample4

In [9]:
df.head(3)

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3

In [10]:
df['column0']

0    control
1       case
2    control
3       case
Name: column0, dtype: object

In [11]:
df[['column0','column1']]

   column0 column1
0  control     yes
1     case     yes
2  control     yes
3     case      no

**default index is 0,1,2,3 at the very first column !**

In [0]:
#use column name as the index but not defalut index
df = pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv', index_col='sample_name')

In [50]:
df

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [14]:
df['column1']

sample_name
sample1    yes
sample2    yes
sample3    yes
sample4     no
Name: column1, dtype: object

In [15]:
df[['column1','column3']] #double bracket are needed when more than 1 column are called

            column1  column3
sample_name
sample1         yes     0.10
sample2         yes     0.25
sample3         yes     0.23
sample4          no     0.34

In [16]:
df1 = df[['column2', 'column4']]
df1.head()

            column2  column4
sample_name
sample1        0.25     0.00
sample2         0.9     0.75
sample3        0.43     0.02
sample4        c084     0.90

In [0]:
#add a new column in df
df['column34'] = df['column3'] + df['column4'] #simply adding

In [18]:
df

             column0 column1 column2  column3  column4  column34
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10
sample2         case     yes     0.9     0.25     0.75      1.00
sample3      control     yes    0.43     0.23     0.02      0.25
sample4         case      no    c084     0.34     0.90      1.24

In [0]:
#if want concatenate two columns
df['column01'] = df['column0'] + df['column1']
df['column0_1'] = df['column0'] + '_' + df['column1']

In [20]:
df #pay attention to difference of column01 and column0_1, we can use '_' to connect two column

             column0 column1 column2  ...  column34    column01    column0_1
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  controlyes  control_yes
sample2         case     yes     0.9  ...      1.00     caseyes     case_yes
sample3      control     yes    0.43  ...      0.25  controlyes  control_yes
sample4         case      no    c084  ...      1.24      caseno      case_no

[4 rows x 8 columns]

In [21]:
#loc function to add row (or say column?) conditionlly. Add new_column0
df.loc[df['column0'] == 'control', 'new_column0'] = 10
df.loc[df['column0'] == 'case', 'new_column0'] = 9
df

             column0 column1 column2  ...    column01    column0_1  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...  controlyes  control_yes         10.0
sample2         case     yes     0.9  ...     caseyes     case_yes          9.0
sample3      control     yes    0.43  ...  controlyes  control_yes         10.0
sample4         case      no    c084  ...      caseno      case_no          9.0

[4 rows x 9 columns]

In [24]:
df.loc[df['column0'] == 'control']

             column0 column1 column2  ...    column01    column0_1  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...  controlyes  control_yes         10.0
sample3      control     yes    0.43  ...  controlyes  control_yes         10.0

[2 rows x 9 columns]

In [28]:
df.loc[df['column3'] > 0.20] #column2 does not work, because column 2 has a typo in sample4

             column0 column1 column2  ...    column01    column0_1  new_column0
sample_name                           ...
sample2         case     yes     0.9  ...     caseyes     case_yes          9.0
sample3      control     yes    0.43  ...  controlyes  control_yes         10.0
sample4         case      no    c084  ...      caseno      case_no          9.0

[3 rows x 9 columns]

In [31]:
df.dtypes #pay attention to column1

column0         object
column1         object
column2         object
column3        float64
column4        float64
column34       float64
column01        object
column0_1       object
new_column0    float64
dtype: object

### **clean non-numeric data**

In [51]:
df['column2'] =pd.to_numeric(df['column2'], errors='coerce') #payatten to to_numeric with () #df.loc following location, so with []
df

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no      NaN     0.34     0.90

In [36]:
df = df.dropna(subset=['column2']) #payattention that column should be always in []
df = df.loc[]
df

             column0 column1  column2  ...    column01    column0_1  new_column0
sample_name                            ...
sample1      control     yes     0.25  ...  controlyes  control_yes         10.0
sample2         case     yes     0.90  ...     caseyes     case_yes          9.0
sample3      control     yes     0.43  ...  controlyes  control_yes         10.0

[3 rows x 9 columns]

In [0]:
#drop any rows full of NA
#df = df.dropna(how = 'all')

In [0]:
#drop any rows with at least one NA
#df = df.dropna(how = 'any')

In [0]:
#replace NaN with a passed in value
#df = df.fillna(0)

In [0]:
#regoback to original df --> go to the line df first appear, and load again

In [45]:
df = df.dropna(how='all')
df

   column0 column1  column2  column3  column4 sample_name
0  control     yes     0.25     0.10     0.00     sample1
1     case     yes     0.90     0.25     0.75     sample2
2  control     yes     0.43     0.23     0.02     sample3
3     case      no      NaN     0.34     0.90     sample4

In [46]:
df = df.dropna(how='any')
df

   column0 column1  column2  column3  column4 sample_name
0  control     yes     0.25     0.10     0.00     sample1
1     case     yes     0.90     0.25     0.75     sample2
2  control     yes     0.43     0.23     0.02     sample3

In [53]:
df = df.fillna(0)
df

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no     0.00     0.34     0.90

In [55]:
df2 = pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data2.csv', index_col = 'sample_name')
df2

             age
sample_name
sample1       25
sample4       33
sample3       55

In [56]:
df_full = df.merge(df2, on='sample_name') #only show the row appear in both
df_full

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no     0.00     0.34     0.90   33

In [58]:
df_full_1 = df.merge(df2, on='sample_name', how = 'inner') 
#Take only row identifiers that appear in both data frames
df_full_1

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no     0.00     0.34     0.90   33

In [60]:
df_full_2 = df.merge(df2, on='sample_name', how = 'outer') 
#Take row identifiers that appear in any data frames. Pay attentio to sample2
df_full_2

             column0 column1  column2  column3  column4   age
sample_name
sample1      control     yes     0.25     0.10     0.00  25.0
sample2         case     yes     0.90     0.25     0.75   NaN
sample3      control     yes     0.43     0.23     0.02  55.0
sample4         case      no     0.00     0.34     0.90  33.0

In [61]:
df_full.loc[df_full['age']>25, 'age_cat'] = 'gt10'
df_full.loc[df_full['age']<=25, 'age_cat'] = 'lt10'
df_full

             column0 column1  column2  column3  column4  age age_cat
sample_name
sample1      control     yes     0.25     0.10     0.00   25    lt10
sample3      control     yes     0.43     0.23     0.02   55    gt10
sample4         case      no     0.00     0.34     0.90   33    gt10

### **分组数据，然后求每组的平均值**

In [63]:
df_full.groupby('column0').mean()

         column2  column3  column4  age
column0
case        0.00    0.340     0.90   33
control     0.34    0.165     0.01   40

In [64]:
df_full.groupby(['column0', 'age_cat']).mean()

                 column2  column3  column4  age
column0 age_cat
case    gt10        0.00     0.34     0.90   33
control gt10        0.43     0.23     0.02   55
        lt10        0.25     0.10     0.00   25

# **save your data to google drive**

In [0]:
df_full.to_csv('/content/drive/My Drive/data_science_workshop/test_data_full.csv')

In [67]:
df3 = pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data3.csv')
df3

   age sample_name column1
0   25     sample1     yes
1   33     sample4      no
2   55     sample3     yes

In [68]:
df_full = df.merge(df3, on = 'sample_name')
df_full
#pay attention to column1_x and column1_y

  sample_name  column0 column1_x  column2  column3  column4  age column1_y
0     sample1  control       yes     0.25     0.10     0.00   25       yes
1     sample3  control       yes     0.43     0.23     0.02   55       yes
2     sample4     case        no     0.00     0.34     0.90   33        no

### **clean up duplicate column when merge**

In [69]:
df_full = df.merge(df3, on = ['sample_name', 'column1'])
df_full

  sample_name  column0 column1  column2  column3  column4  age
0     sample1  control     yes     0.25     0.10     0.00   25
1     sample3  control     yes     0.43     0.23     0.02   55
2     sample4     case      no     0.00     0.34     0.90   33

**set up a new index column**

In [71]:
df_full.set_index('sample_name')

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no     0.00     0.34     0.90   33

**rewet index column to default**

In [75]:
df_full.reset_index()
df_full

  sample_name  column0 column1  column2  column3  column4  age
0     sample1  control     yes     0.25     0.10     0.00   25
1     sample3  control     yes     0.43     0.23     0.02   55
2     sample4     case      no     0.00     0.34     0.90   33